<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class = "header" routerLink = "">Habit tracker</span>
      <span class="example-spacer"></span>
      <section>
        <div class="example-button-row">
          <button mat-stroked-button routerLink="stats">Stats</button>
          <button mat-stroked-button routerLink="habits">Habits</button>
        </div>
      </section>
      <mat-icon class = "example-icon">login</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
